<% layout('../index') -%>
<a href="/books"><img class="img-responsive" src="http://placehold.it/700x100/5bc0de/000000?text=Books" alt=""></a>
<br>
<a href="/authors"><img class=img-responsive src="http://placehold.it/700x100/5cb85c/000000?text=Authors" alt=""></a>

<h3><%= subTitle%></h3>
